index.html
{
  "name": "UTR Validador 3.7",
  "nodes": [
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $('Loop Over Items').item.json.id }}"
        },
        "options": {
          "binaryPropertyName": "data"
        }
      },
      "id": "98506413-a1fc-4cca-a446-2d2916ace894",
      "name": "Download file",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        -592,
        672
      ],
      "typeVersion": 3,
      "credentials": {
        "googleGenericOAuth2Api": {
          "id": "qG1JRdOOksc6EhNg",
          "name": "Google account 8937"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "mode": "id",
          "value": "1dPsiy0fZTSfpaucZKYYR7qM7VdOCzcYy"
        },
        "event": "fileCreated",
        "options": {}
      },
      "id": "370e092b-0bf9-4220-9f96-7a4baaf8b821",
      "name": "Google Drive Trigger",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "position": [
        -3584,
        656
      ],
      "typeVersion": 1,
      "credentials": {
        "googleGenericOAuth2Api": {
          "id": "qG1JRdOOksc6EhNg",
          "name": "Google account 8937"
        }
      }
    },
    {
      "parameters": {
        "pythonCode": "item = _('Loop Over Items').first().json\nname = item.name.lower()\nname_no_lower = item.name\nmimeType = item.get(\"mimeType\", \"\").lower()\nlink = item.webViewLink\nes_xlsx = (\n    mimeType == \"application/vnd.openxmlformats-officedocument.spreadsheetml.sheet\"\n    or name.endswith(\".xlsx\")\n)\nfile_parts = name_no_lower.split('_')\n\n# Aquí recolectamos TODOS los valores de CODIGO_FACILITY en una sola lista\ncodigo_facility_list = []\nfor i in items:\n    js = i.get('json', {})\n    val = _('Aggregate').first().json.CODIGO_FACILITY\n    if isinstance(val, list):\n        codigo_facility_list.extend(val)\n    elif isinstance(val, str):\n        codigo_facility_list.append(val)\n\nfacility_match = None\nfor part in file_parts:\n    part_strip = part.strip()\n    if part_strip in codigo_facility_list:\n        facility_match = part_strip\n        break\n      \nreturn {\"es_xlsx\": es_xlsx, \"ID\": item.id, \"Name\": name_no_lower, \"Link\" : link, \"Facility\": facility_match }"
      },
      "id": "39380879-eedc-4b7e-b3cb-8ac0f88d9350",
      "name": "Analizamos formato XLSX",
      "type": "n8n-nodes-base.verdiCode",
      "position": [
        -976,
        672
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {
          "headerRow": true,
          "includeEmptyCells": true,
          "range": "A1:AB2",
          "sheetName": "LABOR"
        }
      },
      "id": "2517c713-d883-4324-a289-9e05b66426ae",
      "name": "Extraemos headers de LABOR",
      "type": "n8n-nodes-base.extractFromFile",
      "position": [
        0,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "pythonCode": "HEADERS_ESPERADOS = [\n    \"CHAVE\",\n    \"FORNECEDOR\",\n    \"PERIODO\",\n    \"PERÍODO - MÊS/ANO\",\n    \"UNIDADE\",\n    \"DESCRIÇÃO CONTA\",\n    \"CONTA CONTABIL\",\n    \"GROOT ID\",\n    \"NOME\",\n    \"MATRICULA\",\n    \"REGIME DE CONTRATO\",\n    \"CARGO\",\n    \"DATA DE INÍCIO\",\n    \"DATA FIM\",\n    \"% RATEIO\",\n    \"DIAS TRABALHADOS X FOLGA\",\n    \"ESCALA\",\n    \"TURNO\",\n    \"VALOR UNITÁRIO\",\n    \"DIAS TRABALHADOS\",\n    \"QUANTIDADE\",\n    \"VALOR FINAL\",\n    \"OBSERVAÇÕES\",\n    \"PERIODO ADM\",\n    \"PERIODO DESLIGAMENTO\",\n    \"Empresa\",\n    \"TOTAL DE HORAS MENSAL\",\n    \"PROJETO SINERGIA\"\n]\n\nprimero = items[0][\"json\"]\nheaders_fila = [h.strip() for h in list(primero.keys())]\nHEADERS_ESPERADOS = [h.strip() for h in HEADERS_ESPERADOS]\n\nid_node = 1\nunidad = primero.get('UNIDADE', None)\n\nif headers_fila == HEADERS_ESPERADOS:\n    resultado = {\n        \"id\": id_node,\n        \"valido\": True,\n        \"mensaje\": \"Headers válidos y en el orden correcto.\",\n        \"UNIDAD\": unidad\n    }\nelse:\n    headers_incorrectos = []\n    # Compara solo hasta el largo máximo encontrado\n    largo = max(len(headers_fila), len(HEADERS_ESPERADOS))\n    for i in range(largo):\n        header_a = headers_fila[i] if i < len(headers_fila) else None\n        header_e = HEADERS_ESPERADOS[i] if i < len(HEADERS_ESPERADOS) else None\n        if header_a != header_e:\n            headers_incorrectos.append({\n                \"indice\": i,\n                \"archivo\": header_a,\n                \"esperado\": header_e\n            })\n    resultado = {\n        \"id\": id_node,\n        \"valido\": False,\n        \"mensaje\": f\"Headers inválidos o en orden incorrecto para UNIDADE: {unidad}.\",\n        \"UNIDAD\": unidad,\n        \"diferencias\": headers_incorrectos\n    }\n\nreturn resultado"
      },
      "id": "05d9f25b-7420-4340-b1e8-0b63e562a2b7",
      "name": "Validamos headers de LABOR",
      "type": "n8n-nodes-base.verdiCode",
      "position": [
        176,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {
          "headerRow": true,
          "includeEmptyCells": true,
          "range": "A1:AB2",
          "sheetName": "INDIRETOS"
        }
      },
      "id": "d4f2d78c-7c24-4ff2-b22a-d8697596b766",
      "name": "Extraemos headers de INDIRETOS",
      "type": "n8n-nodes-base.extractFromFile",
      "position": [
        0,
        160
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "pythonCode": "HEADERS_ESPERADOS = [\n    \"CHAVE\",\n    \"FORNECEDOR\",\n    \"PERIODO\",\n    \"PERÍODO - MÊS/ANO\",\n    \"UNIDADE\",\n    \"DESCRIÇÃO CONTA\",\n    \"CONTA CONTABIL\",\n    \"GROOT ID\",\n    \"NOME\",\n    \"MATRICULA\",\n    \"REGIME DE CONTRATO\",\n    \"CARGO\",\n    \"DATA DE INÍCIO\",\n    \"DATA FIM\",\n    \"% RATEIO\",\n    \"DIAS TRABALHADOS X FOLGA\",\n    \"ESCALA\",\n    \"TURNO\",\n    \"VALOR UNITÁRIO\",\n    \"DIAS TRABALHADOS\",\n    \"QUANTIDADE\",\n    \"VALOR FINAL\",\n    \"OBSERVAÇÕES\",\n    \"PERIODO ADM\",\n    \"PERIODO DESLIGAMENTO\",\n    \"Empresa\",\n    \"TOTAL DE HORAS MENSAL \",\n    \"PROJETO SINERGIA\"\n]\n\nprimero = items[0][\"json\"]\nheaders_fila = [h.strip() for h in list(primero.keys())]\nHEADERS_ESPERADOS = [h.strip() for h in HEADERS_ESPERADOS]\n\nid_node = 1\nunidad = primero.get('UNIDADE', None)\n\nif headers_fila == HEADERS_ESPERADOS:\n    resultado = {\n        \"id\": id_node,\n        \"valido\": True,\n        \"mensaje\": \"Headers válidos y en el orden correcto.\",\n        \"UNIDAD\": unidad\n    }\nelse:\n    headers_incorrectos = []\n    # Compara solo hasta el largo máximo encontrado\n    largo = max(len(headers_fila), len(HEADERS_ESPERADOS))\n    for i in range(largo):\n        header_a = headers_fila[i] if i < len(headers_fila) else None\n        header_e = HEADERS_ESPERADOS[i] if i < len(HEADERS_ESPERADOS) else None\n        if header_a != header_e:\n            headers_incorrectos.append({\n                \"indice\": i,\n                \"archivo\": header_a,\n                \"esperado\": header_e\n            })\n    resultado = {\n        \"id\": id_node,\n        \"valido\": False,\n        \"mensaje\": f\"Headers inválidos o en orden incorrecto para UNIDADE: {unidad}.\",\n        \"UNIDAD_FALLIDA\": unidad,\n        \"diferencias\": headers_incorrectos\n    }\n\nreturn resultado"
      },
      "id": "eecda23c-1430-47b6-abae-60fc7298707e",
      "name": "Validamos headers de INDIRETOS",
      "type": "n8n-nodes-base.verdiCode",
      "position": [
        176,
        160
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "mode": "combineBySql",
        "numberInputs": 8,
        "query": "SELECT \n  -- 1. Coalesce para obtener la UNIDAD (Usamos la de LABOR/INDIRETOS ya que son centrales)\n  COALESCE(i1.UNIDAD, i2.UNIDAD, i3.UNIDAD, i4.UNIDAD, i5.UNIDAD, i6.UNIDAD, i7.UNIDAD, 'desconocida') AS unidad,\n\n  -- 2. El resultado es VERDADERO solo si TODAS las 8 validaciones son VERDADERAS.\n  CASE\n    WHEN \n      i1.valido IS TRUE AND         -- Input 1: Headers LABOR\n      i2.valido IS TRUE AND         -- Input 2: Headers INDIRETOS\n      i3.valido IS TRUE AND         -- Input 3: Validación de Fecha (VerdiCode3)\n      i4.valido IS TRUE AND  -- Input 4: Headers DIARISTAS/MDO\n      i5.valido IS TRUE AND         -- Input 5: Headers HORA EXTRA (HE)\n      i6.valido IS TRUE AND         -- Input 6: Headers ABSENTEISMO\n      i7.valido IS TRUE --AND            -- Input 7: Headers OTHERS/SPOT\n      --i8.valido IS TRUE            -- Input 8: Headers BANCO DE HORAS, CALCULADORA ABS, ALLOWANCE, PREMIAÇÃO PRESENTEÍSMO\n    THEN TRUE\n    ELSE FALSE\n  END AS valido,\n\n  -- 3. Concatenamos los mensajes de error de todas las validaciones\n  TRIM(\n    CASE WHEN i1.valido IS NOT TRUE THEN 'Error en hoja LABOR. ' ELSE '' END ||\n    CASE WHEN i2.valido IS NOT TRUE THEN 'Error en hoja INDIRETOS. ' ELSE '' END ||\n    CASE WHEN i3.valido IS NOT TRUE THEN 'Error en hoja PERIODO. ' ELSE '' END ||\n    CASE WHEN i4.valido IS NOT TRUE THEN 'Error en hoja DIARISTAS. ' ELSE '' END ||\n    CASE WHEN i5.valido IS NOT TRUE THEN 'Error en hoja HORAS EXTRA. ' ELSE '' END ||\n    CASE WHEN i6.valido IS NOT TRUE THEN 'Error en hoja ABSENTEISMO. ' ELSE '' END ||\n    CASE WHEN i7.valido IS NOT TRUE THEN 'Error en hoja OTHERS. ' ELSE '' END\n--||\n  --  CASE WHEN i8.valido IS NOT TRUE THEN i8.error ELSE '' END\n  ) AS error\n\n-- Unimos todas las tablas. Usamos INPUT 2 (LABOR) como tabla base para las uniones.\nFROM input1 i1\nLEFT JOIN input2 i2 ON i1.id = i2.id\nLEFT JOIN input3 i3 ON i1.id = i3.id\nLEFT JOIN input4 i4 ON i1.id = i4.id\nLEFT JOIN input5 i5 ON i1.id = i5.id\nLEFT JOIN input6 i6 ON i1.id = i6.id\nLEFT JOIN input7 i7 ON i1.id = i7.id\n--LEFT JOIN input8 i8 ON i1.id = i8.id",
        "options": {}
      },
      "id": "668cae0a-ff0d-413a-a963-244c9e7725f3",
      "name": "Juntamos resultados de Validaciones",
      "type": "n8n-nodes-base.merge",
      "position": [
        608,
        352
      ],
      "typeVersion": 3.2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "43313bf9-9732-489e-9514-5708d65d5fc0",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              },
              "leftValue": "={{ $json.valido }}",
              "rightValue": "true"
            }
          ]
        },
        "options": {}
      },
      "id": "0ccb6999-ab70-468b-bff4-e3c2034bb550",
      "name": "El archivo esta bien?",
      "type": "n8n-nodes-base.if",
      "position": [
        928,
        432
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "1kq4Sz55HGMgphXMm4dSKFH3OwY-yxaYM49GMvkJG0yc",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kq4Sz55HGMgphXMm4dSKFH3OwY-yxaYM49GMvkJG0yc/edit?usp=drivesdk",
          "cachedResultName": "Aprobados"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "gid=0",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kq4Sz55HGMgphXMm4dSKFH3OwY-yxaYM49GMvkJG0yc/edit#gid=0",
          "cachedResultName": "Hoja 1"
        },
        "columns": {
          "value": {
            "ID ARCHIVO": "={{ $('Analizamos formato XLSX').first().json.ID }}",
            "Aprobado/Rechazado": "Aprobado"
          },
          "schema": [
            {
              "id": "ID ARCHIVO",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "ID ARCHIVO",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Aprobado/Rechazado",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "Aprobado/Rechazado",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "ID ARCHIVO"
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "fc3f273d-8fb3-4d65-b0fe-216dadf68538",
      "name": "Agregamos archivo a lista de validados",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        1200,
        0
      ],
      "typeVersion": 4.7,
      "credentials": {
        "googleGenericOAuth2Api": {
          "id": "qG1JRdOOksc6EhNg",
          "name": "Google account 8937"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "=santiago.paulin@mercadolibre.com,patricio.luconi@mercadolibre.com,luciaa.reffle@mercadolibre.com,{{ $('Merge id mail').all()[0].json.correo }}",
        "subject": "=Erro de validação da fatura UTR - {{ $('Juntamos resultados de Validaciones').item.json.unidad}}",
        "message": "=<!DOCTYPE html>\n<html>\n<head>\n    <style>\n        body { \n            font-family: 'Proxima Nova', 'Helvetica Neue', Helvetica, Arial, sans-serif; \n            font-size: 15px; \n            color: #333; \n            line-height: 1.6;\n        }\n        \n        .main-content { \n            max-width: 650px; \n            margin: 0 auto; \n        }\n\n        /* Status Card */\n        .status-card {\n            background-color: #ffffff;\n            border: 1px solid #e9ecef;\n            border-left: 5px solid #009ee3; /* Azul MELI */\n            border-radius: 6px;\n            padding: 20px;\n            margin: 25px 0;\n            box-shadow: 0 2px 8px rgba(0,0,0,0.05);\n        }\n\n        .status-row {\n            display: flex;\n            margin-bottom: 12px;\n            border-bottom: 1px solid #f1f1f1;\n            padding-bottom: 12px;\n        }\n        .status-row:last-child { border-bottom: none; margin-bottom: 0; padding-bottom: 0; }\n        \n        .label { \n            font-weight: bold; \n            color: #666; \n            width: 120px; \n            min-width: 120px; \n        }\n        .value { color: #333; }\n\n        .badge {\n            background-color: #fff3cd; \n            color: #856404;\n            padding: 4px 10px;\n            border-radius: 12px;\n            font-size: 12px;\n            font-weight: 700;\n            border: 1px solid #ffeeba;\n        }\n\n        /* Estilos de la Tabla de Errores */\n        .error-table {\n            width: 100%;\n            border-collapse: collapse;\n            font-size: 13px;\n            margin-top: 15px;\n            border: 1px solid #dee2e6;\n        }\n        \n        .error-table th {\n            background-color: #f8f9fa;\n            color: #555;\n            font-weight: bold;\n            text-align: left;\n            padding: 10px;\n            border-bottom: 2px solid #dee2e6;\n        }\n\n        .section-title {\n            font-size: 14px;\n            font-weight: bold;\n            color: #444;\n            margin-top: 15px;\n            display: block;\n        }\n\n        .steps { margin-left: 20px; padding-left: 0; }\n        .steps li { margin-bottom: 10px; color: #555; }\n\n        .highlight { \n            color: #009ee3; \n            font-weight: bold; \n            background-color: #ebf8ff;\n            padding: 2px 6px;\n            border-radius: 4px;\n        }\n    </style>\n</head>\n<body>\n\n<div class=\"main-content\">\n\n    <p>Prezado(a) fornecedor(a),</p>\n\n    <p>\n        Recebemos o arquivo <strong>{{ $json.Name }}</strong>\n{{ $json.Link }}\n        No entanto, o sistema de validação automática detectou <b>inconsistências na estrutura</b> (nomes de colunas, ordem ou datas) que impedem o processamento.\n    </p>\n\n    <div class=\"status-card\">\n        <div class=\"status-row\">\n            <span class=\"label\">Status:</span>\n            <span class=\"value\"><span class=\"badge\">⚠️ Revisão Necessária</span></span>\n        </div>\n        <div class=\"status-row\">\n            <span class=\"label\">Diagnóstico:</span>\n            <span class=\"value\">Cabeçalhos (Headers) ou Dados incorretos.</span>\n        </div>\n        \n        <span class=\"section-title\">🔍 Detalhes das inconsistências encontradas:</span>\n        \n        <table class=\"error-table\">\n            <thead>\n                <tr>\n                    <th style=\"width: 20%\">Aba (Sheet)</th>\n                    <th style=\"width: 10%; text-align: center;\">Col.</th>\n                    <th style=\"width: 35%\">Valor Encontrado</th>\n                    <th style=\"width: 35%\">Valor Esperado</th>\n                </tr>\n            </thead>\n            <tbody>\n                {{ $json.Resultado.html_table_rows }}\n            </tbody>\n        </table>\n\n    </div>\n\n    <h3>✅ Passos para corrigir e reprocessar</h3>\n\n    <p>Por favor, ajuste seu arquivo Excel seguindo estes pontos e envie-o novamente:</p>\n\n    <ol class=\"steps\">\n        <li><b>Revisão de Cabeçalhos:</b> Compare as colunas mencionadas na tabela acima com o template oficial. O nome deve ser exato.</li>\n        <li><b>Limpeza de Dados:</b> Certifique-se de não haver colunas vazias ocultas ou caracteres estranhos.</li>\n        <li><b>Verificação de Datas:</b> Confirme se o período na aba <code>RESUMO</code> corresponde ao mês correto.</li>\n    </ol>\n\n    <p>Assim que o arquivo for corrigido e reenviado, o sistema validará as informações automaticamente.\n    <br>\n    <p>Atenciosamente,<br>\n    <b>Mercado Livre</b></p>\n\n</div>\n\n</body>\n</html>",
        "options": {}
      },
      "id": "ecaa9a0b-b6c5-4644-a1ed-c6ac59a4011e",
      "name": "Notificamos archivo rechazado",
      "type": "n8n-nodes-base.gmail",
      "position": [
        1488,
        544
      ],
      "webhookId": "281cf043-db98-41b5-a59d-be8609b01fb1",
      "typeVersion": 2.1,
      "credentials": {
        "googleGenericOAuth2Api": {
          "id": "qG1JRdOOksc6EhNg",
          "name": "Google account 8937"
        }
      }
    },
    {
      "parameters": {
        "pythonCode": "item = items[0]\nbase = item[\"json\"] if \"json\" in item else item\n\nerror = base.get(\"error\", \"\")\nid_actual = base.get(\"id\", None)\n\n# Inicializamos la variable que guardará las filas de la tabla HTML\nhtml_rows = \"\"\n\nfile = _('Loop Over Items').first().json\nname_file = file.name\nlink_file = file.webViewLink\nid_file = file.id\n\n# Función auxiliar para crear fila de tabla\ndef crear_fila(hoja, indice, archivo, esperado):\n    # Estilos inline para asegurar que se vea bien en Gmail\n    return f\"\"\"\n    <tr style=\"border-bottom: 1px solid #eee;\">\n        <td style=\"padding: 8px; font-weight: bold; color: #444;\">{hoja}</td>\n        <td style=\"padding: 8px; text-align: center;\">{indice}</td>\n        <td style=\"padding: 8px; color: #c0392b; background-color: #fdf2f2;\">{archivo}</td>\n        <td style=\"padding: 8px; color: #2e7d32; background-color: #f1f8e9;\">{esperado}</td>\n    </tr>\n    \"\"\"\n\n# --- BLOQUES DE VALIDACIÓN ---\n\n# LABOR\nif \"Error en hoja LABOR.\" in error:\n    data = _('Validamos headers de LABOR').first().json\n    difs = data.get(\"diferencias\", [])\n    if difs:\n        for d in difs:\n            html_rows += crear_fila(\"LABOR\", d.get('indice'), d.get('archivo'), d.get('esperado'))\n    else:\n        html_rows += crear_fila(\"LABOR\", \"-\", \"Error General\", \"Revisar Hoja\")\n\n# INDIRETOS\nif \"Error en hoja INDIRETOS.\" in error:\n    data = _('Validamos headers de INDIRETOS').first().json\n    difs = data.get(\"diferencias\", [])\n    if difs:\n        for d in difs:\n            html_rows += crear_fila(\"INDIRETOS\", d.get('indice'), d.get('archivo'), d.get('esperado'))\n    else:\n        html_rows += crear_fila(\"INDIRETOS\", \"-\", \"Error General\", \"Revisar Hoja\")\n\n# PERIODO\nif \"Error en hoja PERIODO.\" in error:\n    data = _('Validamos PERIODO').first().json\n    difs = data.get(\"diferencias\", [])\n    if difs:\n        for d in difs:\n            html_rows += crear_fila(\"PERIODO (RESUMO)\", d.get('indice'), d.get('archivo'), d.get('esperado'))\n    else:\n         html_rows += crear_fila(\"PERIODO\", \"-\", \"Error General\", \"Revisar Hoja\")\n\n# DIARISTAS\nif \"Error en hoja DIARISTAS.\" in error:\n    data = _('Validamos headers de DIARISTAS').first().json\n    difs = data.get(\"diferencias\", [])\n    if difs:\n        for d in difs:\n            html_rows += crear_fila(\"DIARISTAS\", d.get('indice'), d.get('archivo'), d.get('esperado'))\n    else:\n         html_rows += crear_fila(\"DIARISTAS\", \"-\", \"Error General\", \"Revisar Hoja\")\n\n# HORAS EXTRA\nif \"Error en hoja HORAS EXTRA.\" in error:\n    data = _('Validamos headers de HORAS EXTRA').first().json\n    difs = data.get(\"diferencias\", [])\n    if difs:\n        for d in difs:\n            html_rows += crear_fila(\"HORA EXTRA\", d.get('indice'), d.get('archivo'), d.get('esperado'))\n    else:\n         html_rows += crear_fila(\"HORA EXTRA\", \"-\", \"Error General\", \"Revisar Hoja\")\n\n# ABSENTEISMO\nif \"Error en hoja ABSENTEISMO.\" in error:\n    data = _('Validamos headers de ABSENTEISMO').first().json\n    difs = data.get(\"diferencias\", [])\n    if difs:\n        for d in difs:\n            html_rows += crear_fila(\"ABSENTEISMO\", d.get('indice'), d.get('archivo'), d.get('esperado'))\n    else:\n         html_rows += crear_fila(\"ABSENTEISMO\", \"-\", \"Error General\", \"Revisar Hoja\")\n\n# OTHERS\nif \"Error en hoja OTHERS.\" in error:\n    data = _('Validamos headers de OTHERS').first().json\n    difs = data.get(\"diferencias\", [])\n    if difs:\n        for d in difs:\n            html_rows += crear_fila(\"OTHERS\", d.get('indice'), d.get('archivo'), d.get('esperado'))\n    else:\n         html_rows += crear_fila(\"OTHERS\", \"-\", \"Error General\", \"Revisar Hoja\")\n\n# BANCO DE HORAS\nif \"Error en hoja BANCO DE HORAS.\" in error:\n    data = _('Validamos headers de BANCO DE HORAS').first().json\n    difs = data.get(\"diferencias\", [])\n    if difs:\n        for d in difs:\n            html_rows += crear_fila(\"BANCO DE HORAS\", d.get('indice'), d.get('archivo'), d.get('esperado'))\n    else:\n         html_rows += crear_fila(\"BANCO DE HORAS\", \"-\", \"Error General\", \"Revisar Hoja\")\n\n# CALCULADORA ABS\nif \"Error en hoja CALCULADORA ABS.\" in error:\n    data = _('Validamos headers de CALCULADORA ABS').first().json\n    difs = data.get(\"diferencias\", [])\n    if difs:\n        for d in difs:\n            html_rows += crear_fila(\"CALC. ABS\", d.get('indice'), d.get('archivo'), d.get('esperado'))\n    else:\n         html_rows += crear_fila(\"CALC. ABS\", \"-\", \"Error General\", \"Revisar Hoja\")\n\n# ALLOWANCE\nif \"Error en hoja ALLOWANCE.\" in error:\n    data = _('Validamos headers de ALLOWANCE').first().json\n    difs = data.get(\"diferencias\", [])\n    if difs:\n        for d in difs:\n            html_rows += crear_fila(\"ALLOWANCE\", d.get('indice'), d.get('archivo'), d.get('esperado'))\n    else:\n         html_rows += crear_fila(\"ALLOWANCE\", \"-\", \"Error General\", \"Revisar Hoja\")\n\n# PREMIAÇÃO PRESENTEÍSMO\nif \"Error en hoja PREMIAÇÃO PRESENTEÍSMO.\" in error:\n    data = _('Validamos headers de PREMIAÇÃO PRESENTEÍSMO').first().json\n    difs = data.get(\"diferencias\", [])\n    if difs:\n        for d in difs:\n            html_rows += crear_fila(\"PREMIAÇÃO\", d.get('indice'), d.get('archivo'), d.get('esperado'))\n    else:\n         html_rows += crear_fila(\"PREMIAÇÃO\", \"-\", \"Error General\", \"Revisar Hoja\")\n\n# Si no hubo filas generadas pero hay error, mensaje genérico\nif not html_rows:\n    html_rows = \"<tr><td colspan='4' style='padding:10px; color:red;'>Erro desconhecido. Por favor verifique o formato geral.</td></tr>\"\n\nresultado = dict(base)\n# Guardamos la tabla HTML en la variable \"diferencias\"\nresultado[\"html_table_rows\"] = html_rows\n\nreturn {\"Resultado\": resultado, \"ID\": id_file, \"Name\": name_file, \"Link\" : link_file }"
      },
      "id": "7cb986a5-8a11-4001-978d-16fc74b0264e",
      "name": "Armamos mensaje de Error y Diferencias",
      "type": "n8n-nodes-base.verdiCode",
      "position": [
        1232,
        544
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {
          "headerRow": false,
          "includeEmptyCells": true,
          "range": "C6:D6",
          "sheetName": "RESUMO"
        }
      },
      "id": "4072da88-68f5-4fb5-8efc-761c0b38bca5",
      "name": "Extraemos headers de PERIODO",
      "type": "n8n-nodes-base.extractFromFile",
      "position": [
        0,
        368
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {
          "headerRow": true,
          "includeEmptyCells": true,
          "range": "A1:P2",
          "sheetName": "DIARISTAS"
        }
      },
      "id": "9d6ad433-205a-4460-a665-20be652bf46c",
      "name": "Extraemos headers de DIARISTAS",
      "type": "n8n-nodes-base.extractFromFile",
      "position": [
        0,
        544
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {
          "headerRow": true,
          "includeEmptyCells": true,
          "range": "A1:V2",
          "sheetName": "HORA EXTRA"
        }
      },
      "id": "c3233341-a8ac-4bf6-ba5a-bc2c1fa81ff0",
      "name": "Extraemos headers de HORAS EXTRA",
      "type": "n8n-nodes-base.extractFromFile",
      "position": [
        0,
        736
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {
          "headerRow": true,
          "includeEmptyCells": true,
          "range": "A1:P2",
          "sheetName": "OTHERS"
        }
      },
      "id": "81475a3f-360a-4923-8f0c-a6d2c4269e64",
      "name": "Extraemos headers de OTHERS",
      "type": "n8n-nodes-base.extractFromFile",
      "position": [
        0,
        1088
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {
          "headerRow": true,
          "includeEmptyCells": true,
          "range": "A1:T2",
          "sheetName": "SALDO BANCO DE HORAS"
        }
      },
      "id": "4ee53131-0cd6-4460-b6f2-680c2acd3ef0",
      "name": "Extraemos headers de BANCO DE HORAS",
      "type": "n8n-nodes-base.extractFromFile",
      "position": [
        -16,
        1248
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {
          "headerRow": true,
          "includeEmptyCells": true,
          "range": "A5:M6",
          "sheetName": "CALCULADORA ABS"
        }
      },
      "id": "5741b846-d08f-4ee5-a119-a2864c649734",
      "name": "Extraemos headers de CALCULADORA ABS",
      "type": "n8n-nodes-base.extractFromFile",
      "position": [
        -16,
        1424
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {
          "headerRow": true,
          "includeEmptyCells": true,
          "range": "A3:H4",
          "sheetName": "ALLOWANCE"
        }
      },
      "id": "1ed2ca09-8fdb-4c56-ba42-0a8afcb6a7b6",
      "name": "Extraemos headers de ALLOWANCE",
      "type": "n8n-nodes-base.extractFromFile",
      "position": [
        -16,
        1600
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {
          "headerRow": true,
          "includeEmptyCells": true,
          "range": "A1:Q2",
          "sheetName": "PREMIAÇÃO PRESENTEÍSMO"
        }
      },
      "id": "f00eec3a-38f1-4263-81aa-016708b8141f",
      "name": "Extraemos headers de PREMIAÇÃO PRESENTEÍSMO",
      "type": "n8n-nodes-base.extractFromFile",
      "position": [
        -16,
        1760
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "pythonCode": "id_node = 1\n\n# 1. Tomar info del XLSX (del extract)\nrow = items[0].get(\"row\", [])\nmes_xlsx = str(row[0]).strip() if len(row) > 0 else \"\"\nano_xlsx = str(row[1]).strip() if len(row) > 1 else \"\"\n\n# 2. Tomar info del nombre del archivo y unidad desde Loop Over Items\ndescarga_node = _('Loop Over Items').first()\ndescarga = descarga_node.json if hasattr(descarga_node, \"json\") else descarga_node\nnombre_archivo = descarga.get(\"name\", \"\")\nunidad = descarga.get(\"UNIDADE\", None)\n\n# 3. SPLIT y buscar el año y su anterior como mes\npartes = [p.strip() for p in nombre_archivo.split('_')]\nmes_arch = \"\"\nano_arch = \"\"\nfor i in range(1, len(partes)):\n    if partes[i].isdigit() and len(partes[i]) == 4:\n        ano_arch = partes[i]\n        mes_candidato = partes[i-1]\n        if mes_candidato.isalpha():\n            mes_arch = mes_candidato\n        else:\n            mes_arch = \"\"\n\ndef normalize(m):\n    return (m or \"\").strip().lower().replace(\"ç\",\"c\").replace(\"ã\",\"a\").replace(\"á\",\"a\").replace(\"é\",\"e\").replace(\"ô\",\"o\").replace(\"í\",\"i\").replace(\"ó\",\"o\").replace(\"ú\",\"u\")\n\nmes_xlsx_n = normalize(mes_xlsx)\nmes_arch_n = normalize(mes_arch)\n\n# Chequeo: mensaje especial si falta mes o año en el nombre de archivo\nmes_encontrado = mes_arch if mes_arch else \"NO ENCONTRADO EN NOMBRE DE ARCHIVO\"\nano_encontrado = ano_arch if ano_arch else \"NO ENCONTRADO EN NOMBRE DE ARCHIVO\"\n\nmes_ok = mes_xlsx_n == mes_arch_n and mes_arch != \"\"\nano_ok = ano_xlsx == ano_arch and ano_arch != \"\"\nvalido = mes_ok and ano_ok\n\nif valido:\n    resultado = {\n        \"id\": id_node,\n        \"valido\": True,\n        \"mensaje\": \"Período válido.\",\n        \"UNIDAD\": unidad\n    }\nelse:\n    diferencias = []\n    if not mes_ok:\n        diferencias.append({\n            \"indice\": 0,\n            \"archivo\": mes_xlsx,\n            \"esperado\": mes_encontrado\n        })\n    if not ano_ok:\n        diferencias.append({\n            \"indice\": 1,\n            \"archivo\": ano_xlsx,\n            \"esperado\": ano_encontrado\n        })\n    resultado = {\n        \"id\": id_node,\n        \"valido\": False,\n        \"mensaje\": f\"Período inválido{' para la unidad: ' + str(unidad) if unidad else ''}.\",\n        \"UNIDAD\": unidad,\n        \"diferencias\": diferencias\n    }\n\nreturn resultado"
      },
      "id": "5a081f3e-0092-4c77-a3f4-e578c3dc85c1",
      "name": "Validamos PERIODO",
      "type": "n8n-nodes-base.verdiCode",
      "position": [
        176,
        368
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "pythonCode": "HEADERS_ESPERADOS = [\n    \"FORNECEDOR\",\n    \"PERIODO\",\n    \"PERÍODO - MÊS/ANO\",\n    \"UNIDADE\",\n    \"DESCRIÇÃO CONTA\",\n    \"CONTA CONTABIL\",\n    \"GROOT ID\",\n    \"NOME\",\n    \"CARGO\",\n    \"ESCALA\",\n    \"DATA\",\n    \"QUANTIDADE\",\n    \"VALOR UNITÁRIO\",\n    \"VALOR FINAL\",\n    \"OBSERVAÇÕES\",\n    \"Empresa MDO\"\n]\n\nprimero = items[0][\"json\"]\nheaders_fila = [h.strip() for h in list(primero.keys())]\nHEADERS_ESPERADOS = [h.strip() for h in HEADERS_ESPERADOS]\n\nid_node = 1\nunidad = primero.get('UNIDADE', None)\n\nif headers_fila == HEADERS_ESPERADOS:\n    resultado = {\n        \"id\": id_node,\n        \"valido\": True,\n        \"mensaje\": \"Headers válidos y en el orden correcto.\",\n        \"UNIDAD\": unidad\n    }\nelse:\n    headers_incorrectos = []\n    # Compara solo hasta el largo máximo encontrado\n    largo = max(len(headers_fila), len(HEADERS_ESPERADOS))\n    for i in range(largo):\n        header_a = headers_fila[i] if i < len(headers_fila) else None\n        header_e = HEADERS_ESPERADOS[i] if i < len(HEADERS_ESPERADOS) else None\n        if header_a != header_e:\n            headers_incorrectos.append({\n                \"indice\": i,\n                \"archivo\": header_a,\n                \"esperado\": header_e\n            })\n    resultado = {\n        \"id\": id_node,\n        \"valido\": False,\n        \"mensaje\": f\"Headers inválidos o en orden incorrecto para UNIDADE: {unidad}.\",\n        \"UNIDAD_FALLIDA\": unidad,\n        \"diferencias\": headers_incorrectos\n    }\n\nreturn resultado"
      },
      "id": "841985d8-68ba-4703-bac5-48cf7e4ec45a",
      "name": "Validamos headers de DIARISTAS",
      "type": "n8n-nodes-base.verdiCode",
      "position": [
        176,
        544
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "pythonCode": "HEADERS_ESPERADOS = [\n    \"PERIODO\",\n    \"PERÍODO - MÊS/ANO\",\n    \"UNIDADE\",\n    \"DESCRIÇÃO CONTA\",\n    \"DESCRIÇÃO CARGO\",\n    \"CONTA CONTABIL\",\n    \"GROOT ID\",\n    \"NOME\",\n    \"MATRICULA\",\n    \"CARGO\",\n    \"TURNO\",\n    \"HE 50% /100% / 120%\",\n    \"QUANTIDADE HE - Manual\",\n    \"VALOR UNITÁRIO\",\n    \"VALOR FINAL\",\n    \"Data\",\n    \"Dia da semana\",\n    \"OBSERVAÇÕES\",\n    \"QTD BANCO DE HORAS MÊS\",\n    \"VALOR UNITÁRIO BANCO DE HORAS MÊS\",\n    \"VALOR FINAL BANCO DE HORAS MÊS\",\n    \"OBSERVAÇÕES BANCO DE HORAS\"\n]\n\nprimero = items[0][\"json\"]\nheaders_fila = [h.strip() for h in list(primero.keys())]\nHEADERS_ESPERADOS = [h.strip() for h in HEADERS_ESPERADOS]\n\nid_node = 1\nunidad = primero.get('UNIDADE', None)\n\nif headers_fila == HEADERS_ESPERADOS:\n    resultado = {\n        \"id\": id_node,\n        \"valido\": True,\n        \"mensaje\": \"Headers válidos y en el orden correcto.\",\n        \"UNIDAD\": unidad\n    }\nelse:\n    headers_incorrectos = []\n    # Compara solo hasta el largo máximo encontrado\n    largo = max(len(headers_fila), len(HEADERS_ESPERADOS))\n    for i in range(largo):\n        header_a = headers_fila[i] if i < len(headers_fila) else None\n        header_e = HEADERS_ESPERADOS[i] if i < len(HEADERS_ESPERADOS) else None\n        if header_a != header_e:\n            headers_incorrectos.append({\n                \"indice\": i,\n                \"archivo\": header_a,\n                \"esperado\": header_e\n            })\n    resultado = {\n        \"id\": id_node,\n        \"valido\": False,\n        \"mensaje\": f\"Headers inválidos o en orden incorrecto para UNIDADE: {unidad}.\",\n        \"UNIDAD_FALLIDA\": unidad,\n        \"diferencias\": headers_incorrectos\n    }\n\nreturn resultado"
      },
      "id": "58554102-c99e-4231-858b-aac97e796804",
      "name": "Validamos headers de HORAS EXTRA",
      "type": "n8n-nodes-base.verdiCode",
      "position": [
        176,
        736
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "pythonCode": "HEADERS_ESPERADOS = [\n    \"PERIODO\",\n    \"PERÍODO - MÊS/ANO\",\n    \"UNIDADE\",\n    \"DESCRIÇÃO CONTA\",\n    \"CONTA CONTABIL\",\n    \"CATEGORIA\",\n    \"FORNECEDOR\",\n    \"DESCRIÇÃO\",\n    \"NF\",\n    \"DATA DE ENTREGA/PRESTAÇÃO DE SERVIÇO\",\n    \"QUANTIDADE\",\n    \"VALOR UNITÁRIO\",\n    \"VALOR FINAL\",\n    \"OBSERVAÇÕES\",\n    \"SERVIÇO SPOT\",\n    \"Conta 2\"\n]\nprimero = items[0][\"json\"]\nheaders_fila = [h.strip() for h in list(primero.keys())]\nHEADERS_ESPERADOS = [h.strip() for h in HEADERS_ESPERADOS]\n\nid_node = 1\nunidad = primero.get('UNIDADE', None)\n\nif headers_fila == HEADERS_ESPERADOS:\n    resultado = {\n        \"id\": id_node,\n        \"valido\": True,\n        \"mensaje\": \"Headers válidos y en el orden correcto.\",\n        \"UNIDAD\": unidad\n    }\nelse:\n    headers_incorrectos = []\n    # Compara solo hasta el largo máximo encontrado\n    largo = max(len(headers_fila), len(HEADERS_ESPERADOS))\n    for i in range(largo):\n        header_a = headers_fila[i] if i < len(headers_fila) else None\n        header_e = HEADERS_ESPERADOS[i] if i < len(HEADERS_ESPERADOS) else None\n        if header_a != header_e:\n            headers_incorrectos.append({\n                \"indice\": i,\n                \"archivo\": header_a,\n                \"esperado\": header_e\n            })\n    resultado = {\n        \"id\": id_node,\n        \"valido\": False,\n        \"mensaje\": f\"Headers inválidos o en orden incorrecto para UNIDADE: {unidad}.\",\n        \"UNIDAD\": unidad,\n        \"diferencias\": headers_incorrectos\n    }\n\nreturn resultado"
      },
      "id": "72da6572-03da-4dbc-8167-34585ff98c14",
      "name": "Validamos headers de OTHERS",
      "type": "n8n-nodes-base.verdiCode",
      "position": [
        160,
        1088
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "pythonCode": "HEADERS_ESPERADOS = HEADERS_ESPERADOS = [\n    \"PERIODO\",\n    \"PERÍODO - MÊS/ANO\",\n    \"UNIDADE\",\n    \"DESCRIÇÃO CONTA\",\n    \"DESCRIÇÃO CARGO\",\n    \"CONTA CONTABIL\",\n    \"GROOT ID\",\n    \"NOME\",\n    \"MATRICULA\",\n    \"CARGO\",\n    \"TURNO\",\n    \"HE 50% /100% / 120%\",\n    \"SALDO INICIAL BANCO DE HORAS\",\n    \"CONSUMO BANCO DE HORAS\",\n    \"HE Realizadas no mês\",\n    \"PAGAMENTO\",\n    \"SALDO FINAL BANCO DE HORAS\",\n    \"VALOR UNITÁRIO\",\n    \"VALOR FINAL SALDO\",\n    \"OBSERVAÇÕES\"\n]\nprimero = items[0][\"json\"]\nheaders_fila = [h.strip() for h in list(primero.keys())]\nHEADERS_ESPERADOS = [h.strip() for h in HEADERS_ESPERADOS]\n\nid_node = 1\nunidad = primero.get('UNIDADE', None)\n\nif headers_fila == HEADERS_ESPERADOS:\n    resultado = {\n        \"id\": id_node,\n        \"valido\": True,\n        \"mensaje\": \"Headers válidos y en el orden correcto.\",\n        \"UNIDAD\": unidad\n    }\nelse:\n    headers_incorrectos = []\n    # Compara solo hasta el largo máximo encontrado\n    largo = max(len(headers_fila), len(HEADERS_ESPERADOS))\n    for i in range(largo):\n        header_a = headers_fila[i] if i < len(headers_fila) else None\n        header_e = HEADERS_ESPERADOS[i] if i < len(HEADERS_ESPERADOS) else None\n        if header_a != header_e:\n            headers_incorrectos.append({\n                \"indice\": i,\n                \"archivo\": header_a,\n                \"esperado\": header_e\n            })\n    resultado = {\n        \"id\": id_node,\n        \"valido\": False,\n        \"mensaje\": f\"Headers inválidos o en orden incorrecto para UNIDADE: {unidad}.\",\n        \"UNIDAD\": unidad,\n        \"diferencias\": headers_incorrectos\n    }\n\nreturn resultado"
      },
      "id": "6ff703ae-af73-4488-b41b-5d9ea7a3104a",
      "name": "Validamos headers de BANCO DE HORAS",
      "type": "n8n-nodes-base.verdiCode",
      "position": [
        160,
        1248
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "pythonCode": "HEADERS_ESPERADOS = [\n    \"Cod.\",\n    \"Operação\",\n    \"Região\",\n    \"COMPETÊNCIA FATURA\",\n    \"TOTAL HC\",\n    \"TOTAL ABS\",\n    \"VLR LABOR DIRETO PERÍODO DE APURAÇÃO\",\n    \"% ABS\",\n    \"Target ABS\",\n    \"% DESCONTO\",\n    \"QTD DESCONTADA TOTAL\",\n    \"QTD DESCONTADA (PESSOA)\",\n    \"VALOR DESCONTADO (BRL)\"\n]\n\nprimero = items[0][\"json\"]\nheaders_fila = [h.strip() for h in list(primero.keys())]\nHEADERS_ESPERADOS = [h.strip() for h in HEADERS_ESPERADOS]\n\nid_node = 1\nunidad = primero.get('UNIDADE', None)\n\nif headers_fila == HEADERS_ESPERADOS:\n    resultado = {\n        \"id\": id_node,\n        \"valido\": True,\n        \"mensaje\": \"Headers válidos y en el orden correcto.\",\n        \"UNIDAD\": unidad\n    }\nelse:\n    headers_incorrectos = []\n    # Compara solo hasta el largo máximo encontrado\n    largo = max(len(headers_fila), len(HEADERS_ESPERADOS))\n    for i in range(largo):\n        header_a = headers_fila[i] if i < len(headers_fila) else None\n        header_e = HEADERS_ESPERADOS[i] if i < len(HEADERS_ESPERADOS) else None\n        if header_a != header_e:\n            headers_incorrectos.append({\n                \"indice\": i,\n                \"archivo\": header_a,\n                \"esperado\": header_e\n            })\n    resultado = {\n        \"id\": id_node,\n        \"valido\": False,\n        \"mensaje\": f\"Headers inválidos o en orden incorrecto para UNIDADE: {unidad}.\",\n        \"UNIDAD\": unidad,\n        \"diferencias\": headers_incorrectos\n    }\n\nreturn resultado"
      },
      "id": "0f8c106b-c75d-4dec-a252-c7f7e7d9268b",
      "name": "Validamos headers de CALCULADORA ABS",
      "type": "n8n-nodes-base.verdiCode",
      "position": [
        144,
        1424
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "pythonCode": "HEADERS_ESPERADOS = [\n    \"FORNECEDOR\",\n    \"PERIODO FATURA\",\n    \"PERIODO FATURA - MÊS/ANO\",\n    \"UNIDADE\",\n    \"PERIODO ALLOWANCE\",\n    \"ID\",\n    \"Observação\",\n    \"Valor Allowance\"\n]\n\nprimero = items[0][\"json\"]\nheaders_fila = [h.strip() for h in list(primero.keys())]\nHEADERS_ESPERADOS = [h.strip() for h in HEADERS_ESPERADOS]\n\nid_node = 1\nunidad = primero.get('UNIDADE', None)\n\nif headers_fila == HEADERS_ESPERADOS:\n    resultado = {\n        \"id\": id_node,\n        \"valido\": True,\n        \"mensaje\": \"Headers válidos y en el orden correcto.\",\n        \"UNIDAD\": unidad\n    }\nelse:\n    headers_incorrectos = []\n    # Compara solo hasta el largo máximo encontrado\n    largo = max(len(headers_fila), len(HEADERS_ESPERADOS))\n    for i in range(largo):\n        header_a = headers_fila[i] if i < len(headers_fila) else None\n        header_e = HEADERS_ESPERADOS[i] if i < len(HEADERS_ESPERADOS) else None\n        if header_a != header_e:\n            headers_incorrectos.append({\n                \"indice\": i,\n                \"archivo\": header_a,\n                \"esperado\": header_e\n            })\n    resultado = {\n        \"id\": id_node,\n        \"valido\": False,\n        \"mensaje\": f\"Headers inválidos o en orden incorrecto para UNIDADE: {unidad}.\",\n        \"UNIDAD\": unidad,\n        \"diferencias\": headers_incorrectos\n    }\n\nreturn resultado"
      },
      "id": "9bb0831f-ebe8-45cd-b1f9-4c03c0728161",
      "name": "Validamos headers de ALLOWANCE",
      "type": "n8n-nodes-base.verdiCode",
      "position": [
        144,
        1600
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "pythonCode": "HEADERS_ESPERADOS = [\n    \"CHAVE\",\n    \"FORNECEDOR\",\n    \"PERIODO\",\n    \"PERÍODO - MÊS/ANO\",\n    \"UNIDADE\",\n    \"GROOT ID\",\n    \"NOME\",\n    \"MATRICULA\",\n    \"CARGO\",\n    \"DATA DE INÍCIO\",\n    \"DATA FIM\",\n    \"DATA FALTA 1\",\n    \"DATA FALTA 2\",\n    \"DATA FALTA 3\",\n    \"QUANTIDADE FALTAS\",\n    \"VALOR PREMIAÇÃO\",\n    \"OBSERVAÇÕES\"\n]\nprimero = items[0][\"json\"]\nheaders_fila = [h.strip() for h in list(primero.keys())]\nHEADERS_ESPERADOS = [h.strip() for h in HEADERS_ESPERADOS]\n\nid_node = 1\nunidad = primero.get('UNIDADE', None)\n\nif headers_fila == HEADERS_ESPERADOS:\n    resultado = {\n        \"id\": id_node,\n        \"valido\": True,\n        \"mensaje\": \"Headers válidos y en el orden correcto.\",\n        \"UNIDAD\": unidad\n    }\nelse:\n    headers_incorrectos = []\n    # Compara solo hasta el largo máximo encontrado\n    largo = max(len(headers_fila), len(HEADERS_ESPERADOS))\n    for i in range(largo):\n        header_a = headers_fila[i] if i < len(headers_fila) else None\n        header_e = HEADERS_ESPERADOS[i] if i < len(HEADERS_ESPERADOS) else None\n        if header_a != header_e:\n            headers_incorrectos.append({\n                \"indice\": i,\n                \"archivo\": header_a,\n                \"esperado\": header_e\n            })\n    resultado = {\n        \"id\": id_node,\n        \"valido\": False,\n        \"mensaje\": f\"Headers inválidos o en orden incorrecto para UNIDADE: {unidad}.\",\n        \"UNIDAD\": unidad,\n        \"diferencias\": headers_incorrectos\n    }\n\nreturn resultado"
      },
      "id": "92d90596-b738-4380-b646-912aa141b2ae",
      "name": "Validamos headers de PREMIAÇÃO PRESENTEÍSMO",
      "type": "n8n-nodes-base.verdiCode",
      "position": [
        144,
        1760
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "mode": "combineBySql",
        "numberInputs": 4,
        "query": "SELECT \n  i1.id,\n  -- 1. Coalesce para obtener la UNIDAD (Usamos la de LABOR/INDIRETOS ya que son centrales)\n  COALESCE(i1.UNIDAD, i2.UNIDAD, i3.UNIDAD, i4.UNIDAD, 'desconocida') AS unidad,\n\n  -- 2. El resultado es VERDADERO solo si TODAS las 8 validaciones son VERDADERAS.\n  CASE\n    WHEN \n      i1.valido IS TRUE AND         -- Input 1: Headers BANCO DE HORAS\n      i2.valido IS TRUE AND         -- Input 2: Headers CALCULADORA ABS\n      i3.valido IS TRUE AND         -- Input 3: Headers ALLOWANCE\n      i4.valido IS TRUE             -- Input 4: Headers PREMIAÇÃO PRESENTEÍSMO\n    THEN TRUE\n    ELSE FALSE\n  END AS valido,\n\n  -- 3. Concatenamos los mensajes de error de todas las validaciones\n  TRIM(\n    CASE WHEN i1.valido IS NOT TRUE THEN 'Error en hoja BANCO DE HORAS. ' ELSE '' END ||\n    CASE WHEN i2.valido IS NOT TRUE THEN 'Error en hoja CALCULADORA ABS. ' ELSE '' END ||\n    CASE WHEN i3.data_e_valida IS NOT TRUE THEN 'Error en hoja ALLOWANCE. ' ELSE '' END ||\n    CASE WHEN i4.valido IS NOT TRUE THEN 'Error en hoja PREMIAÇÃO PRESENTEÍSMO. ' ELSE '' END\n  ) AS error\n\n-- Unimos todas las tablas. Usamos INPUT 2 (LABOR) como tabla base para las uniones.\nFROM input1 i1\nLEFT JOIN input2 i2 ON i1.id = i2.id\nLEFT JOIN input3 i3 ON i1.id = i3.id\nLEFT JOIN input4 i4 ON i1.id = i4.id",
        "options": {}
      },
      "id": "22112001-d2c5-462d-aff6-95908af4ff40",
      "name": "Juntamos resultados de Validaciones1",
      "type": "n8n-nodes-base.merge",
      "position": [
        448,
        1440
      ],
      "typeVersion": 3.2
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "list",
          "value": "root",
          "cachedResultName": "/ (Root folder)"
        }
      },
      "id": "cccc31b1-f2bd-4f9a-80a5-0356299b2509",
      "name": "Move file",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        1936,
        544
      ],
      "typeVersion": 3,
      "disabled": true
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "136bab3d-6f71-467c-bccb-a52f83a95756",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        -2496,
        672
      ],
      "executeOnce": false,
      "typeVersion": 3
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1dPsiy0fZTSfpaucZKYYR7qM7VdOCzcYy",
            "mode": "id"
          },
          "whatToSearch": "files"
        },
        "options": {
          "fields": [
            "*"
          ]
        }
      },
      "id": "77a65a53-c429-4ae5-a485-ae42d30932ab",
      "name": "Buscar todos los archivos en la carpeta",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        -2896,
        656
      ],
      "typeVersion": 3,
      "credentials": {
        "googleGenericOAuth2Api": {
          "id": "qG1JRdOOksc6EhNg",
          "name": "Google account 8937"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "advanced": true,
        "mergeByFields": {
          "values": [
            {
              "field1": "id",
              "field2": "ID ARCHIVO"
            }
          ]
        },
        "joinMode": "keepNonMatches",
        "outputDataFrom": "input1",
        "options": {}
      },
      "id": "99ec0b9d-8f75-4b92-88a8-ec81dd6ccafe",
      "name": "Nos quedamos solo con los archivos de la carpeta todavía no analizados",
      "type": "n8n-nodes-base.merge",
      "position": [
        -2672,
        672
      ],
      "typeVersion": 3.2
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "1kq4Sz55HGMgphXMm4dSKFH3OwY-yxaYM49GMvkJG0yc"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "gid=0",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kq4Sz55HGMgphXMm4dSKFH3OwY-yxaYM49GMvkJG0yc/edit#gid=0",
          "cachedResultName": "Hoja 1"
        },
        "options": {}
      },
      "id": "e93f773a-6192-4631-96a0-dad938775d9f",
      "name": "Ver archivos validados",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        -2896,
        832
      ],
      "typeVersion": 4.7,
      "credentials": {
        "googleGenericOAuth2Api": {
          "id": "qG1JRdOOksc6EhNg",
          "name": "Google account 8937"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "43313bf9-9732-489e-9514-5708d65d5fc0",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              },
              "leftValue": "={{ $json.es_xlsx }}",
              "rightValue": "true"
            }
          ]
        },
        "options": {}
      },
      "id": "5b831897-9cde-468b-af93-e691e23885ce",
      "name": "El formato de archivo esta bien?",
      "type": "n8n-nodes-base.if",
      "position": [
        -800,
        672
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {
          "headerRow": true,
          "includeEmptyCells": true,
          "range": "A1:L2",
          "sheetName": "ABSENTEISMO"
        }
      },
      "id": "45ee8e03-deed-4f62-a7d2-d56dc58b2646",
      "name": "Extraemos headers de ABSENTEISMO",
      "type": "n8n-nodes-base.extractFromFile",
      "position": [
        0,
        912
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "pythonCode": "HEADERS_ESPERADOS = [\n    \"FORNECEDOR\",\n    \"PERIODO\",\n    \"PERÍODO - MÊS/ANO\",\n    \"UNIDADE\",\n    \"DESCRIÇÃO CONTA\",\n    \"CONTA CONTABIL\",\n    \"GROOT ID\",\n    \"NOME\",\n    \"MATRICULA\",\n    \"CARGO\",\n    \"DATA AUSENCIA\",\n    \"TIPO DE FALTA\"\n]\nprimero = items[0][\"json\"]\nheaders_fila = [h.strip() for h in list(primero.keys())]\nHEADERS_ESPERADOS = [h.strip() for h in HEADERS_ESPERADOS]\n\nid_node = 1\nunidad = primero.get('UNIDADE', None)\n\nif headers_fila == HEADERS_ESPERADOS:\n    resultado = {\n        \"id\": id_node,\n        \"valido\": True,\n        \"mensaje\": \"Headers válidos y en el orden correcto.\",\n        \"UNIDAD\": unidad\n    }\nelse:\n    headers_incorrectos = []\n    # Compara solo hasta el largo máximo encontrado\n    largo = max(len(headers_fila), len(HEADERS_ESPERADOS))\n    for i in range(largo):\n        header_a = headers_fila[i] if i < len(headers_fila) else None\n        header_e = HEADERS_ESPERADOS[i] if i < len(HEADERS_ESPERADOS) else None\n        if header_a != header_e:\n            headers_incorrectos.append({\n                \"indice\": i,\n                \"archivo\": header_a,\n                \"esperado\": header_e\n            })\n    resultado = {\n        \"id\": id_node,\n        \"valido\": False,\n        \"mensaje\": f\"Headers inválidos o en orden incorrecto para UNIDADE: {unidad}.\",\n        \"UNIDAD\": unidad,\n        \"diferencias\": headers_incorrectos\n    }\n\nreturn resultado"
      },
      "id": "bb31e963-33b4-437e-97ec-e220ffc96134",
      "name": "Validamos headers de ABSENTEISMO",
      "type": "n8n-nodes-base.verdiCode",
      "position": [
        176,
        912
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "pythonCode": "item = _input.first().json\nsize = int(item.get(\"size\", 0))\nname = item.get(\"name\", \"\")\nlink = item.get(\"webViewLink\", \"\")\nes_0_bytes = (size == 0)\nfile_parts = name.split('_')\n\n# Aquí recolectamos TODOS los valores de CODIGO_FACILITY en una sola lista\ncodigo_facility_list = []\nfor i in items:\n    js = i.get('json', {})\n    val = _('Aggregate').first().json.CODIGO_FACILITY\n    if isinstance(val, list):\n        codigo_facility_list.extend(val)\n    elif isinstance(val, str):\n        codigo_facility_list.append(val)\n\nfacility_match = None\nfor part in file_parts:\n    part_strip = part.strip()\n    if part_strip in codigo_facility_list:\n        facility_match = part_strip\n        break\n\nreturn {\n    \"es_0_bytes\": es_0_bytes,\n    \"ID\": item.get(\"id\", \"\"),\n    \"Name\": name,\n    \"Link\": link,\n    \"Facility\": facility_match\n}"
      },
      "id": "c4f357cc-7325-4e69-b935-f9effa1db13f",
      "name": "Analizamos bytes do arquivo",
      "type": "n8n-nodes-base.verdiCode",
      "position": [
        -1408,
        656
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "43313bf9-9732-489e-9514-5708d65d5fc0",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              },
              "leftValue": "={{ $json.es_0_bytes }}",
              "rightValue": "true"
            }
          ]
        },
        "options": {}
      },
      "id": "3474c6cf-52cc-4266-987c-d1b1657a9794",
      "name": "Tiene 0 bytes el archivo?",
      "type": "n8n-nodes-base.if",
      "position": [
        -1184,
        656
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "1kq4Sz55HGMgphXMm4dSKFH3OwY-yxaYM49GMvkJG0yc",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kq4Sz55HGMgphXMm4dSKFH3OwY-yxaYM49GMvkJG0yc/edit?usp=drivesdk",
          "cachedResultName": "Aprobados"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "gid=0",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kq4Sz55HGMgphXMm4dSKFH3OwY-yxaYM49GMvkJG0yc/edit#gid=0",
          "cachedResultName": "Hoja 1"
        },
        "columns": {
          "value": {
            "ID ARCHIVO": "={{ $('Analizamos formato XLSX').first().json.ID }}",
            "Aprobado/Rechazado": "Rechazado"
          },
          "schema": [
            {
              "id": "ID ARCHIVO",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "ID ARCHIVO",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Aprobado/Rechazado",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "Aprobado/Rechazado",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "ID ARCHIVO"
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "0bba1e17-3a77-4ca9-8d6a-26f466451f0b",
      "name": "Agregamos archivo a lista de validados1",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        1696,
        544
      ],
      "typeVersion": 4.7,
      "credentials": {
        "googleGenericOAuth2Api": {
          "id": "qG1JRdOOksc6EhNg",
          "name": "Google account 8937"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "1kq4Sz55HGMgphXMm4dSKFH3OwY-yxaYM49GMvkJG0yc",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kq4Sz55HGMgphXMm4dSKFH3OwY-yxaYM49GMvkJG0yc/edit?usp=drivesdk",
          "cachedResultName": "Aprobados"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "gid=0",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kq4Sz55HGMgphXMm4dSKFH3OwY-yxaYM49GMvkJG0yc/edit#gid=0",
          "cachedResultName": "Hoja 1"
        },
        "columns": {
          "value": {
            "ID ARCHIVO": "={{ $('Analizamos formato XLSX').first().json.ID }}",
            "Aprobado/Rechazado": "Rechazado"
          },
          "schema": [
            {
              "id": "ID ARCHIVO",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "ID ARCHIVO",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Aprobado/Rechazado",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "Aprobado/Rechazado",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "ID ARCHIVO"
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "cb6eae2c-1982-4cd9-9b7a-57a3e6609827",
      "name": "Agregamos archivo a lista de validados2",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        -528,
        1040
      ],
      "typeVersion": 4.7,
      "credentials": {
        "googleGenericOAuth2Api": {
          "id": "qG1JRdOOksc6EhNg",
          "name": "Google account 8937"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "1kq4Sz55HGMgphXMm4dSKFH3OwY-yxaYM49GMvkJG0yc",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kq4Sz55HGMgphXMm4dSKFH3OwY-yxaYM49GMvkJG0yc/edit?usp=drivesdk",
          "cachedResultName": "Aprobados"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "gid=0",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kq4Sz55HGMgphXMm4dSKFH3OwY-yxaYM49GMvkJG0yc/edit#gid=0",
          "cachedResultName": "Hoja 1"
        },
        "columns": {
          "value": {
            "ID ARCHIVO": "={{ $('Analizamos bytes do arquivo').first().json.ID }}",
            "Aprobado/Rechazado": "Rechazado"
          },
          "schema": [
            {
              "id": "ID ARCHIVO",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "ID ARCHIVO",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Aprobado/Rechazado",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "Aprobado/Rechazado",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "ID ARCHIVO"
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "ad348b2f-166b-4f03-855a-4194d9344096",
      "name": "Agregamos archivo a lista de validados3",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        -992,
        928
      ],
      "typeVersion": 4.7,
      "credentials": {
        "googleGenericOAuth2Api": {
          "id": "qG1JRdOOksc6EhNg",
          "name": "Google account 8937"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "1dEwxbqJf6R4Ore3a76hRWWzbmxshhikK-vWO3UAIZgU"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": 2108923397,
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1dEwxbqJf6R4Ore3a76hRWWzbmxshhikK-vWO3UAIZgU/edit#gid=2108923397",
          "cachedResultName": "Parametrica de facilities"
        },
        "combineFilters": "OR",
        "options": {
          "dataLocationOnSheet": {
            "values": {
              "rangeDefinition": "specifyRangeA1",
              "range": "C:E"
            }
          }
        }
      },
      "id": "dc479ad3-978c-4c06-9602-7e442a652513",
      "name": "Obtenemos Facilities",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        -3424,
        656
      ],
      "typeVersion": 4.7,
      "credentials": {
        "googleGenericOAuth2Api": {
          "id": "qG1JRdOOksc6EhNg",
          "name": "Google account 8937"
        }
      }
    },
    {
      "parameters": {
        "pythonCode": "from datetime import datetime\n\nfecha_hoy = datetime.today()\nfacility_dict = {}\n\nfor item in items:\n    js = item['json']\n    codigo = js.get('CODIGO_FACILITY', '')\n    fecha_str = js.get('FECHA_FIN', '')\n\n    try:\n        fecha_fin = datetime.strptime(fecha_str, \"%d/%m/%Y\")\n    except Exception:\n        continue\n\n    # Solo consideramos vigentes\n    if fecha_fin >= fecha_hoy:\n        if codigo not in facility_dict:\n            facility_dict[codigo] = fecha_fin\n        else:\n            if fecha_fin > facility_dict[codigo]:\n                facility_dict[codigo] = fecha_fin\n\n# Devuelve la lista de dicts como espera n8n\noutput = [{\"json\": {\"CODIGO_FACILITY\": codigo}} for codigo in facility_dict.keys()]\nreturn output"
      },
      "id": "a81575d7-64c1-4363-8b2c-bec2d526693a",
      "name": "Filtramos Facilities activos",
      "type": "n8n-nodes-base.verdiCode",
      "position": [
        -3232,
        656
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "CODIGO_FACILITY"
            }
          ]
        },
        "options": {}
      },
      "id": "d3c58166-02d6-47c1-88ef-20e7277c205b",
      "name": "Aggregate",
      "type": "n8n-nodes-base.aggregate",
      "position": [
        -3072,
        656
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "sendTo": "santiago.paulin@mercadolibre.com,patricio.luconi@mercadolibre.com,luciaa.reffle@mercadolibre.com,{{ $('Merge id mail').all()[0].json.correo }}",
        "subject": "=Erro de validação da fatura UTR -  {{ $('Analizamos bytes do arquivo').item.json.Facility}}",
        "message": "=<!DOCTYPE html>\n<html>\n<head>\n    <style>\n        body { \n            font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; \n            font-size: 15px; \n            color: #444; \n            line-height: 1.6;\n        }\n        \n        .main-content { \n            max-width: 600px; \n            margin: 0 auto; \n        }\n\n        /* Cartão de Status - Limpo e Profissional */\n        .status-card {\n            background-color: #ffffff;\n            border: 1px solid #e9ecef;\n            border-left: 5px solid #009ee3; /* Azul MELI */\n            border-radius: 6px;\n            padding: 20px;\n            margin: 25px 0;\n            box-shadow: 0 2px 8px rgba(0,0,0,0.05);\n        }\n\n        .status-row {\n            display: flex;\n            margin-bottom: 12px;\n            border-bottom: 1px solid #f1f1f1;\n            padding-bottom: 12px;\n        }\n        .status-row:last-child { border-bottom: none; margin-bottom: 0; padding-bottom: 0; }\n        \n        .label { \n            font-weight: bold; \n            color: #666; \n            width: 140px; \n            min-width: 140px; \n        }\n        .value { color: #333; }\n\n        /* Badge de Erro Suave - Rojo más intenso para 0 bytes */\n        .badge {\n            background-color: #fce4e4;\n            color: #c0392b;\n            padding: 4px 10px;\n            border-radius: 12px;\n            font-size: 12px;\n            font-weight: 700;\n            border: 1px solid #f5c6cb;\n        }\n\n        /* Lista de passos */\n        .steps { margin-left: 20px; padding-left: 0; }\n        .steps li { margin-bottom: 10px; color: #555; }\n\n        /* Destaque Azul */\n        .highlight { \n            color: #009ee3; \n            font-weight: bold; \n            background-color: #ebf8ff;\n            padding: 2px 6px;\n            border-radius: 4px;\n        }\n\n        .footer { \n            font-size: 12px; \n            color: #999; \n            margin-top: 40px; \n            border-top: 1px solid #eee; \n            padding-top: 15px; \n        }\n    </style>\n</head>\n<body>\n\n<div class=\"main-content\">\n\n    <p>Prezado(a) fornecedor(a),</p>\n\n    <p>\n        Recebemos o arquivo  <strong> {{ $json.Name }} </strong>. \n{{ $json.Link }}\n        No entanto, detectamos que o arquivo está <b>vazio (sem conteúdo)</b> e não pôde ser processado pelo sistema UTR.\n    </p>\n\n    <div class=\"status-card\">\n        <div class=\"status-row\">\n            <span class=\"label\">Status:</span>\n            <span class=\"value\"><span class=\"badge\">⛔ Arquivo Vazio</span></span>\n        </div>\n        <div class=\"status-row\">\n            <span class=\"label\">Motivo:</span>\n            <span class=\"value\">O arquivo possui <b>0 bytes</b> de tamanho.</span>\n        </div>\n        <div class=\"status-row\">\n            <span class=\"label\">Ação Necessária:</span>\n            <span class=\"value\">Salvar o conteúdo corretamente e reenviar.</span>\n        </div>\n    </div>\n\n    <h3>💡 Como resolver?</h3>\n    <p>Isso geralmente ocorre falhas ao salvar ou baixar o arquivo. Siga estes passos:</p>\n\n    <ol class=\"steps\">\n        <li>Vá em <b>Arquivo > Salvar como...</b> e gere uma nova versão.</li>\n        <li>Verifique nas propriedades se o tamanho é maior que <span class=\"highlight\">0 KB</span>.</li>\n        <li>Anexe e envie novamente este novo arquivo.</li>\n    </ol>\n\n    <p>Assim que recebermos o arquivo com dados válidos, o sistema iniciará automaticamente a validação 📊.</p>\n    <br>\n    <p>Atenciosamente,<br>\n    <b>Mercado Livre</b></p>\n    \n\n</div>\n\n</body>\n</html>",
        "options": {}
      },
      "id": "b2f88004-c9d2-4823-8f9d-22d0a26d1407",
      "name": "Notificamos 0 bytes",
      "type": "n8n-nodes-base.gmail",
      "position": [
        -1184,
        928
      ],
      "webhookId": "281cf043-db98-41b5-a59d-be8609b01fb1",
      "typeVersion": 2.1,
      "credentials": {
        "googleGenericOAuth2Api": {
          "id": "qG1JRdOOksc6EhNg",
          "name": "Google account 8937"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "santiago.paulin@mercadolibre.com",
        "subject": "=santiago.paulin@mercadolibre.com,patricio.luconi@mercadolibre.com,luciaa.reffle@mercadolibre.com,{{ $('Merge id mail').all()[0].json.correo }}",
        "message": "=<!DOCTYPE html>\n<html>\n<head>\n    <style>\n        body { \n            font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; \n            font-size: 15px; \n            color: #444; \n            line-height: 1.6;\n        }\n        \n        .main-content { \n            max-width: 600px; \n            margin: 0 auto; \n        }\n\n        /* Cartão de Status - Limpo e Profissional */\n        .status-card {\n            background-color: #ffffff;\n            border: 1px solid #e9ecef;\n            border-left: 5px solid #009ee3; /* Azul MELI */\n            border-radius: 6px;\n            padding: 20px;\n            margin: 25px 0;\n            box-shadow: 0 2px 8px rgba(0,0,0,0.05);\n        }\n\n        .status-row {\n            display: flex;\n            margin-bottom: 12px;\n            border-bottom: 1px solid #f1f1f1;\n            padding-bottom: 12px;\n        }\n        .status-row:last-child { border-bottom: none; margin-bottom: 0; padding-bottom: 0; }\n        \n        .label { \n            font-weight: bold; \n            color: #666; \n            width: 140px; \n            min-width: 140px; \n        }\n        .value { color: #333; }\n\n        /* Badge de Erro Suave */\n        .badge {\n            background-color: #fce4e4;\n            color: #c0392b;\n            padding: 4px 10px;\n            border-radius: 12px;\n            font-size: 12px;\n            font-weight: 700;\n            border: 1px solid #f5c6cb;\n        }\n\n        /* Lista de passos */\n        .steps { margin-left: 20px; padding-left: 0; }\n        .steps li { margin-bottom: 10px; color: #555; }\n\n        /* Destaque Azul */\n        .highlight { \n            color: #009ee3; \n            font-weight: bold; \n            background-color: #ebf8ff;\n            padding: 2px 6px;\n            border-radius: 4px;\n        }\n\n        .footer { \n            font-size: 12px; \n            color: #999; \n            margin-top: 40px; \n            border-top: 1px solid #eee; \n            padding-top: 15px; \n        }\n    </style>\n</head>\n<body>\n\n<div class=\"main-content\">\n\n    <p>Prezado(a) fornecedor(a),</p>\n\n    <p>\n        Recebemos o arquivo  <strong> {{ $json.Name }}</strong>. \n{{ $json.Link }}\n        No entanto, o sistema de validação da UTR identificou uma incompatibilidade de formato e <b>não pôde processá-lo</b>.\n    </p>\n\n    <div class=\"status-card\">\n        <div class=\"status-row\">\n            <span class=\"label\">Status:</span>\n            <span class=\"value\"><span class=\"badge\">⛔ Não Processado</span></span>\n        </div>\n        <div class=\"status-row\">\n            <span class=\"label\">Motivo:</span>\n            <span class=\"value\">O arquivo não é uma planilha Excel válida (<b>.xlsx</b>).</span>\n        </div>\n        <div class=\"status-row\">\n            <span class=\"label\">Ação Necessária:</span>\n            <span class=\"value\">Converter o arquivo e reenviar.</span>\n        </div>\n    </div>\n\n    <h3>💡 Como resolver?</h3>\n\n    <p>Para que sua pré-fatura seja validada, siga estes passos simples:</p>\n\n    <ol class=\"steps\">\n        <li>Vá em <b>Arquivo > Salvar como...</b></li>\n        <li>Na lista de tipos, selecione obrigatoriamente:<br>\n            <span class=\"highlight\">Pasta de Trabalho do Excel (*.xlsx)</span>\n        </li>\n        <li>Anexe e envie novamente este novo arquivo.</li>\n    </ol>\n\n    <p>Assim que recebermos o arquivo no formato correto, o sistema iniciará automaticamente a validação de conteúdo 📊.\n    <br>\n    <p>Atenciosamente,<br>\n    <b>Mercado Livre</b></p>\n\n</div>\n\n</body>\n</html>",
        "options": {}
      },
      "id": "3a9d842d-4c6c-41df-8cab-20759683d9ab",
      "name": "Notificamos no xlsx",
      "type": "n8n-nodes-base.gmail",
      "position": [
        -672,
        1040
      ],
      "webhookId": "281cf043-db98-41b5-a59d-be8609b01fb1",
      "typeVersion": 2.1,
      "credentials": {
        "googleGenericOAuth2Api": {
          "id": "qG1JRdOOksc6EhNg",
          "name": "Google account 8937"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1I1iq-vR-alSkC63EZrDFYq6UZceAz6C0iNGXx6IQfEE",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 303312903,
          "mode": "list",
          "cachedResultName": "Respuestas de formulario 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1I1iq-vR-alSkC63EZrDFYq6UZceAz6C0iNGXx6IQfEE/edit#gid=303312903"
        },
        "options": {}
      },
      "id": "95a6cca1-7e5a-4506-bd31-9bdc547ba0d0",
      "name": "Obtenemos mails",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        -2272,
        752
      ],
      "typeVersion": 4.7,
      "credentials": {
        "googleGenericOAuth2Api": {
          "id": "qG1JRdOOksc6EhNg",
          "name": "Google account 8937"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "61a8ebb2-c8c2-4f35-8070-9c10e34640e4",
              "leftValue": "={{ $json.correo }}",
              "rightValue": 0,
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1584,
        672
      ],
      "id": "dd614e07-432c-4057-aaad-242eab02870b",
      "name": "If"
    },
    {
      "parameters": {
        "mode": "combine",
        "advanced": true,
        "mergeByFields": {
          "values": [
            {
              "field1": "id",
              "field2": "ID"
            }
          ]
        },
        "joinMode": "enrichInput1",
        "options": {}
      },
      "id": "24b610a0-fcd8-44a3-a590-9c5be0e20926",
      "name": "Merge id mail",
      "type": "n8n-nodes-base.merge",
      "position": [
        -1792,
        672
      ],
      "typeVersion": 3.2
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e85778da-381d-43fe-be9a-3f44c115c24f",
              "name": "correo",
              "value": "={{ $json['Dirección de correo electrónico'] }}",
              "type": "string"
            },
            {
              "id": "5925c9d7-234c-452f-bbab-2cb14628ebbe",
              "name": "Marca temporal",
              "value": "={{ $json['Marca temporal'] }}",
              "type": "string"
            },
            {
              "id": "982054a2-1b78-4d42-bc4d-2776a4eb77ee",
              "name": "ID",
              "value": "={{ $json['Anexar Fatura Aprovada DHL (excel)'].split('id=')[1] }}",
              "type": "string"
            },
            {
              "id": "c73cc3eb-d606-4bee-a9ab-13baddac1897",
              "name": "Link",
              "value": "={{ $json['Anexar Fatura Aprovada DHL (excel)'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1952,
        768
      ],
      "id": "842332c2-d2d5-497b-bba6-ef068bbe3925",
      "name": "armamos id mail"
    }
  ],
  "pinData": {
    "Move file": [
      {
        "json": {
          "error": "Error en hoja HORAS EXTRA.",
          "unidad": "XPR1",
          "valido": false,
          "diferencias": "HORAS EXTRA: Columna: 21, Archivo: OBSERVAÇÕES BANCO DE HORAS, Esperado: None"
        }
      }
    ]
  },
  "connections": {
    "Aggregate": {
      "main": [
        [
          {
            "node": "Ver archivos validados",
            "type": "main",
            "index": 0
          },
          {
            "node": "Buscar todos los archivos en la carpeta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move file": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Extraemos headers de LABOR",
            "type": "main",
            "index": 0
          },
          {
            "node": "Extraemos headers de INDIRETOS",
            "type": "main",
            "index": 0
          },
          {
            "node": "Extraemos headers de PERIODO",
            "type": "main",
            "index": 0
          },
          {
            "node": "Extraemos headers de DIARISTAS",
            "type": "main",
            "index": 0
          },
          {
            "node": "Extraemos headers de HORAS EXTRA",
            "type": "main",
            "index": 0
          },
          {
            "node": "Extraemos headers de ABSENTEISMO",
            "type": "main",
            "index": 0
          },
          {
            "node": "Extraemos headers de OTHERS",
            "type": "main",
            "index": 0
          },
          {
            "node": "Extraemos headers de BANCO DE HORAS",
            "type": "main",
            "index": 0
          },
          {
            "node": "Extraemos headers de CALCULADORA ABS",
            "type": "main",
            "index": 0
          },
          {
            "node": "Extraemos headers de ALLOWANCE",
            "type": "main",
            "index": 0
          },
          {
            "node": "Extraemos headers de PREMIAÇÃO PRESENTEÍSMO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Obtenemos mails",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge id mail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validamos PERIODO": {
      "main": [
        [
          {
            "node": "Juntamos resultados de Validaciones",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Notificamos 0 bytes": {
      "main": [
        [
          {
            "node": "Agregamos archivo a lista de validados3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notificamos no xlsx": {
      "main": [
        [
          {
            "node": "Agregamos archivo a lista de validados2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Obtenemos Facilities",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtenemos Facilities": {
      "main": [
        [
          {
            "node": "Filtramos Facilities activos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "El archivo esta bien?": {
      "main": [
        [
          {
            "node": "Agregamos archivo a lista de validados",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Armamos mensaje de Error y Diferencias",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ver archivos validados": {
      "main": [
        [
          {
            "node": "Nos quedamos solo con los archivos de la carpeta todavía no analizados",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Analizamos formato XLSX": {
      "main": [
        [
          {
            "node": "El formato de archivo esta bien?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tiene 0 bytes el archivo?": {
      "main": [
        [
          {
            "node": "Notificamos 0 bytes",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Analizamos formato XLSX",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraemos headers de LABOR": {
      "main": [
        [
          {
            "node": "Validamos headers de LABOR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validamos headers de LABOR": {
      "main": [
        [
          {
            "node": "Juntamos resultados de Validaciones",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analizamos bytes do arquivo": {
      "main": [
        [
          {
            "node": "Tiene 0 bytes el archivo?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraemos headers de OTHERS": {
      "main": [
        [
          {
            "node": "Validamos headers de OTHERS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validamos headers de OTHERS": {
      "main": [
        [
          {
            "node": "Juntamos resultados de Validaciones",
            "type": "main",
            "index": 6
          }
        ]
      ]
    },
    "Extraemos headers de PERIODO": {
      "main": [
        [
          {
            "node": "Validamos PERIODO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtramos Facilities activos": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notificamos archivo rechazado": {
      "main": [
        [
          {
            "node": "Agregamos archivo a lista de validados1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraemos headers de ALLOWANCE": {
      "main": [
        [
          {
            "node": "Validamos headers de ALLOWANCE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraemos headers de DIARISTAS": {
      "main": [
        [
          {
            "node": "Validamos headers de DIARISTAS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraemos headers de INDIRETOS": {
      "main": [
        [
          {
            "node": "Validamos headers de INDIRETOS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validamos headers de ALLOWANCE": {
      "main": [
        [
          {
            "node": "Juntamos resultados de Validaciones1",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Validamos headers de DIARISTAS": {
      "main": [
        [
          {
            "node": "Juntamos resultados de Validaciones",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Validamos headers de INDIRETOS": {
      "main": [
        [
          {
            "node": "Juntamos resultados de Validaciones",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "El formato de archivo esta bien?": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notificamos no xlsx",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraemos headers de ABSENTEISMO": {
      "main": [
        [
          {
            "node": "Validamos headers de ABSENTEISMO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraemos headers de HORAS EXTRA": {
      "main": [
        [
          {
            "node": "Validamos headers de HORAS EXTRA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validamos headers de ABSENTEISMO": {
      "main": [
        [
          {
            "node": "Juntamos resultados de Validaciones",
            "type": "main",
            "index": 5
          }
        ]
      ]
    },
    "Validamos headers de HORAS EXTRA": {
      "main": [
        [
          {
            "node": "Juntamos resultados de Validaciones",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "Extraemos headers de BANCO DE HORAS": {
      "main": [
        [
          {
            "node": "Validamos headers de BANCO DE HORAS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Juntamos resultados de Validaciones": {
      "main": [
        [
          {
            "node": "El archivo esta bien?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validamos headers de BANCO DE HORAS": {
      "main": [
        [
          {
            "node": "Juntamos resultados de Validaciones1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraemos headers de CALCULADORA ABS": {
      "main": [
        [
          {
            "node": "Validamos headers de CALCULADORA ABS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Juntamos resultados de Validaciones1": {
      "main": [
        [
          {
            "node": "Juntamos resultados de Validaciones",
            "type": "main",
            "index": 7
          }
        ]
      ]
    },
    "Validamos headers de CALCULADORA ABS": {
      "main": [
        [
          {
            "node": "Juntamos resultados de Validaciones1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Agregamos archivo a lista de validados": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Armamos mensaje de Error y Diferencias": {
      "main": [
        [
          {
            "node": "Notificamos archivo rechazado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agregamos archivo a lista de validados1": {
      "main": [
        [
          {
            "node": "Move file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agregamos archivo a lista de validados2": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agregamos archivo a lista de validados3": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar todos los archivos en la carpeta": {
      "main": [
        [
          {
            "node": "Nos quedamos solo con los archivos de la carpeta todavía no analizados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraemos headers de PREMIAÇÃO PRESENTEÍSMO": {
      "main": [
        [
          {
            "node": "Validamos headers de PREMIAÇÃO PRESENTEÍSMO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validamos headers de PREMIAÇÃO PRESENTEÍSMO": {
      "main": [
        [
          {
            "node": "Juntamos resultados de Validaciones1",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Nos quedamos solo con los archivos de la carpeta todavía no analizados": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtenemos mails": {
      "main": [
        [
          {
            "node": "armamos id mail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge id mail": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "armamos id mail": {
      "main": [
        [
          {
            "node": "Merge id mail",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Analizamos bytes do arquivo",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "bdb83ecf-4121-40cc-a146-fc60b2c2032d",
  "meta": {
    "instanceId": "4c2752e75ead39bd011fd251aad418b871a47aee37a5a7f673c8a6aec1d91d33"
  },
  "id": "yZ9YiDeD40DsQAXu",
  "tags": []
}
